<!DOCTYPE html>
   <head>
      <title>IoT assignment - home </title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>

   <body>
   
		<h1>Latest sensor data: </h1>
		<table style="width:20%">
			<tr>
				<th>Temperature:</th>
				<th>{{ temp  }}</th>
				<th>&degC </th>
				
			</tr>
			<tr>
				<th>Humidity:</th>
				<th>{{ hum  }}</th>
				<th>%</th>
			</tr>
			<tr>
				<th>Time:</th>
				<th>{{ time }}</th>
			</tr>
		</table>

		<a href="/graph"class="button">Live Graph!</a></h3>
	
		<p> 
			@2020 Tjitte van der PLoeg 
		</p>
   </body>
</html>